* {
  box-sizing: border-box;
}

body {
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.84077771939043610682773532971623353660106658935546875vw;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgb(12, 24, 36);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
}

header img {
  height: 5em;
  width: 9em;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration-line: none;
  color: white;
}
nav h3 :hover {
  color: rgb(255, 81, 82);
  font-size: larger;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

nav li {
  padding-left: 2.5em;
}
main ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 10em;
  margin-right: 10em;
}
main li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d3d59;
  width: 18.75em;
  height: 25em;
  border-radius: 3.125em;
  color: white;
  text-shadow: -0.125em 0.125em 0.1875em black, 0.125em 0.125em 0.1875em black,
    0.125em -0.125em 0.1875em black, -0.125em -0.125em 0.1875em black;
}

main li:hover {
  background-color: #a83c49;
  transition: 150ms ease-in;
}

main div {
  display: flex;
}

footer {
  text-align: center;
  background-color: rgb(196, 196, 196);
}
footer h4 {
  margin: 0;
  font-weight: lighter;
}

main {
  background-image: url(Media/crosshair\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  aspect-ratio: 16/7;
}

section h2 {
  color: white;
  margin: 0;
  padding: 5em;
  text-shadow: -0.125em 0.125em 0.1875em black, 0.125em 0.125em 0.1875em black,
    0.125em -0.125em 0.1875em black, -0.125em -0.125em 0.1875em black;
}

main img {
  height: 15.625em;
  width: 16.25em;
}
