* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.84077771939043610682773532971623353660106658935546875vw;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgb(12, 24, 36);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
}

header img {
  height: 5em;
  width: 9em;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration-line: none;
  color: white;
}
nav h3 :hover {
  color: rgb(255, 81, 82);
  font-size: larger;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

nav li {
  padding-left: 2.5em;
}

footer {
  text-align: center;
  background-color: rgb(196, 196, 196);
  align-self: baseline;
}

footer h4 {
  margin: 0;
  font-weight: lighter;
}

section.reyk {
  background-image: url(Media/reyk/colorback.jpg);
}

section.reyk div.summary {
  background-image: url(Media/reyk/01_VCT_2021_Masters_announcement.jpg);
  height: 50em;
  background-size: cover;
  border-bottom: rgb(212, 249, 153);
  border-bottom-style: solid;
  border-top-width: 0.625em;
  align-items: center;
  text-align: center;
}
section.reyk div.summary h2 {
  font-size: 2.10194429847609054462509448057971894741058349609375vw;
  margin-top: 10em;
  width: 25em;
  font-weight: bold;
  color: rgb(212, 249, 153);
  animation: fade_in ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

section.reyk div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 18em;
}

#first_element {
  padding-top: 18em;
}

section.reyk div ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: space-around;
  width: 40%;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  font-size: 2.10194429847609054462509448057971894741058349609375vw;
  font-weight: bold;
  color: rgb(212, 249, 153);
  text-align: center;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  font-size: 2.10194429847609054462509448057971894741058349609375vw;
  font-weight: bold;
  color: rgb(212, 249, 153);
  text-align: center;
}

#a {
  height: 5em;
}

#b {
  height: 10em;
}
