* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.84077771939043610682773532971623353660106658935546875vw;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgb(12, 24, 36);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
}

header img {
  height: 5em;
  width: 9em;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section.about div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(24, 30, 39);
  padding-bottom: 1.875em;
  line-height: 3.125em;
  text-align: center;
}
section.about h1 {
  font-size: 2.627430373095112958736763175693340599536895751953125vw;
  font-weight: bold;
  margin: 0;
  padding-top: 0.4em;
  text-align: center;
  color: white;
  background-color: rgb(24, 30, 39);
  text-decoration: underline rgb(255, 81, 82);
}

nav a {
  text-decoration-line: none;
  color: white;
}
nav h3 :hover {
  color: rgb(255, 81, 82);
  font-size: larger;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

nav li {
  padding-left: 2.5em;
}

button {
  background-color: #007bff;
  height: 2.666em;
  width: 6.666em;
  border-radius: 0.333em;
  border: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7882291119vw;
  color: white;
}

footer {
  display: flex;
  height: 2em;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #304146;
  color: white;
}

footer h4 {
  margin: 0;
  font-weight: lighter;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(Media/join\ background.png);
  background-repeat: no-repeat;
  height: 18.75em;
  background-size: cover;
  background-position: 0px -9.375em;
}
.about {
  padding-top: 7.4em;
  margin-top: -7.4em;
}

section.join h1 {
  font-size: 2.627430373095112958736763175693340599536895751953125vw;
  color: white;
  margin: 0;
  text-shadow: -0.04em 0.04em 0.06em black, 0.04em 0.04em 0.06em black,
    0.04em -0.04em 0.06em black, -0.04em -0.04em 0.06em black;
}

section.gallery {
  display: flex;
  flex-direction: column;
  padding-top: 7.5em;
  background-image: url("Media/vct.jpeg");
  height: max-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}
section.gallery h2 {
  font-size: 1.57645822385706768642421593540348112583160400390625vw;
  font-weight: bold;
  margin: 0;
  padding-top: 0.6666666em;
  padding-bottom: 1.1625em;
  text-align: center;
  color: white;
}
div.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 1.875em;
  text-align: center;
  background-color: #2d3d59;
  width: 28.125em;
  height: 21.875em;
  border-radius: 5em;
}
section.gallery img {
  margin-top: 2.5em;
  border-radius: 3.75em;
}

div.img:hover {
  background-color: #8889c4;
  transition: 300ms;
  border-style: solid;
  border-width: 0.3125em;
  border-color: rgb(12, 24, 36);
  text-shadow: -0.125em 0.125em 0.1875em rgb(12, 24, 36),
    0.125em 0.125em 0.1875em rgb(12, 24, 36),
    0.125em -0.125em 0.1875em rgb(12, 24, 36),
    -0.125em -0.125em 0.1875em rgb(12, 24, 36);
}

main ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#a {
  width: 21.875em;
}
#b {
  height: 18.75em;
}

section.gallery div.grid {
  display: grid;
  grid-template-rows: 21.875em 21.875em;
  grid-template-columns: 28.3125em 28.3125em;
  row-gap: 3.875em;
  column-gap: 30.625em;
  margin-bottom: 3em;
}
